.add-session-modal {
    width: 90vw;    /* Occupy the 90% of the screen width */
    min-width: 90vw;

    .add-session-form {
        display: flex;
        justify-content: space-evenly;
        .left-column {
            width: 40%;
        }
    }
}