.header-bar {
  padding: 1%;
  height: 5%;
  border-bottom: 1px solid lightgrey;
  .menu {
    position: fixed;
    left: 0%;
    top: 2.5%;
    transform: translate(50%, -50%);
  }
  .welcome {
    position: fixed;
    left: 50%;
    top: 2.5%;
    transform: translate(-50%, -50%);
  }
  .view {
    position: fixed;
    right: 0%;
    top: 2.5%;
    transform: translate(-30%, -50%);
    cursor: pointer;
  }
}
